<?php
/**
 * Created by PhpStorm.
 * User: vanessa
 * Date: 2/16/17
 * Time: 1:42 PM
 */

//create database connection
$dsn = 'mysql:host=localhost;dbname=wit_dhparkingsol'; // data source name
$username = '';  // TODO replace after clone
$password = '';  // TODO replace after clone


// handling exceptions with try/catch
try {
    $db = new PDO($dsn, $username, $password);
    # echo '<p>You are connected to the user_inf database</p>';
} catch (PDOException $e) {
    $error_message = $e->getMessage(); // $object->method(arguments) syntax for executing a method
    echo "<p>An error occurred while connecting to the database: $error_message</p>";
    die;
}
?>
